*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.nav{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.logo{
    width: 90px;
    padding-left: 10px;
}


.hero{
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.group{
    width: 70%;
    align-self: center;
}
.hero-header{
    padding-top: 20px;
    margin-bottom: 15px;
}